body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
@media only screen and (min-width: 992px) {
  body {
    font-size: 1.12vw;
    letter-spacing: 0.02vw;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

body {
  font-family: muli, Helvetica, Arial, sans-serif;
  background-color: #dbe4e9;
  overflow-y: scroll;
  position: relative;
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 1.12vw;
    letter-spacing: 0.02vw;
  }
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

:root {
  --colorPrimary: #ba8d4a;
  --colorSecondary: #ba8d4a;
  --colorBtn: #ffffff;
}

section {
  display: block;
}

.shadow-pfo {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-pfo {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.section-lw2 {
  background-color: #fff;
  color: #000;
  font-family: muli, Helvetica, Arial, sans-serif;
  letter-spacing: 0.03vw;
}

@media only screen and (min-width: 992px) {
  .section-lw2 {
    padding: 1.5vw 6vw 1.5vw 2vw;
    max-width: 76vw;
    margin: 1vw 0;
    position: relative;
    overflow: hidden;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
}

.d-r3t {
  display: none !important;
}

.text-vx6 {
  text-transform: capitalize !important;
}

.d-r3t {
  display: none !important;
}

.text-vx6 {
  text-transform: capitalize !important;
}

@media only screen and (min-width: 992px) {
  .hea-6e1 {
    position: absolute;
    top: 10px;
    right: 0;
    color: var(--colorPrimary);
    font-family: roboto, Helvetica, Arial, sans-serif;
    font-size: 3vw;
    letter-spacing: 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

.block-9by {
  display: block !important;
}

.block-9by {
  display: block !important;
}

.owl-carousel .owl-stage::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.my-e8o {
  margin-top: 0.5rem !important;
}

.my-e8o {
  margin-bottom: 0.5rem !important;
}

@media (min-width: 768px) {
  .pt-md-mdk {
    padding-top: 0 !important;
  }
}

.my-e8o {
  margin-top: 0.5rem !important;
}

.my-e8o {
  margin-bottom: 0.5rem !important;
}

@media (min-width: 768px) {
  .pt-md-mdk {
    padding-top: 0 !important;
  }
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

@media (min-width: 576px) {
  .block-nwy {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .d-md-3ej {
    display: none !important;
  }
}

.pt-bcb {
  padding-top: 0.5rem !important;
}

.text-dyv {
  text-align: center !important;
}

@media (min-width: 576px) {
  .block-nwy {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .d-md-3ej {
    display: none !important;
  }
}

.pt-bcb {
  padding-top: 0.5rem !important;
}

.text-dyv {
  text-align: center !important;
}

.at-property-sjq {
  position: relative;
  overflow: hidden;
}

.vsv-jgs {
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 992px) {
  .vsv-jgs {
    width: 90%;
    max-height: 75vw;
  }
}

.w-jl7 {
  width: 100% !important;
}

.w-jl7 {
  width: 100% !important;
}

img {
  vertical-align: middle;
  border-style: none;
}

.custom-block img {
  width: 100%;
  height: auto;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.gallery-thumb:hover {
  opacity: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

@media only screen and (min-width: 992px) {
  .text-7x8 {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-shadow: 0 1px 2px #000;
    text-align: center;
    font-size: 1.8vw;
    padding: 1vw 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.text-cdb {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 992px) {
  .text-cdb {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.jxlqo {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.jxlqo {
  font-size: 2.5rem;
}

@media (min-width: 992px) {
  .block-i76 {
    display: block !important;
  }
}

.mb-bm2 {
  margin-bottom: 0 !important;
}

.text-mi7 {
  text-transform: uppercase !important;
}

.font-weight-n8y {
  font-weight: 700 !important;
}

.jxlqo {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

@media (min-width: 992px) {
  .block-i76 {
    display: block !important;
  }
}

.mb-bm2 {
  margin-bottom: 0 !important;
}

.text-mi7 {
  text-transform: uppercase !important;
}

.font-weight-n8y {
  font-weight: 700 !important;
}

@media only screen and (min-width: 992px) {
  .vsv-jgs .jxlqo {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
